.sidebarChannel {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  h4 {
    color: #7b7c85;
    display: flex;
    padding: 5px;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #33363d;
      border-radius: 12px;
    }
  }

  svg {
    color: #fff;
  }

  .sidebarChannelHash {
    font-size: 22px;
    padding-right: 10px;
  }
}
