.sidebarAccount {
  display: flex;
  align-items: center;

  img {
    width: 55px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
  }

  .accountName {
    margin-left: 5px;

    h4 {
      color: white;
      font-weight: 500;
    }
    span {
      color: #686a6e;
    }
  }
}
